*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
}

body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block
}

/* Header Part */
header {
  background-color: var(--color-131921);
}

.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
}

.header-upper .upper-text {
  background-color: var(--color-febd69);
}

.header-upper-links img {
  width: 30px;
  height: 30px;
}

.header-bottom {
  background-color: var(--color-232f3e)
}

.menu-links {
  color: white;
  letter-spacing: .3;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.dropdown__menu {
  background-color: var(--color-131921);
}

/* Header Styles End */

/* Footer Styles */

footer {
  background-color: var(--color-232f3e);
}

.sub-btn {
  background-color: var(--color-232f3e);
}

.footer-mid {
  border-bottom: 1px solid var(--color-3b4149);
  border-top: 1px solid var(--color-3b4149);
}

.footer-mid .socials a {
  background-color: var(--color-3b4149);
  opacity: .9;
}

.footer-mid .socials a:hover {
  opacity: 1;
}

/* End Footer */

/* Home */
.content .content_p {
  color: var(--color-bf4800)
}

.bottom-section {
  background-color: var(--color-f5f5f7);
}

.grid__item:nth-child(4) {
  border-right: none;
}
.grid__item:nth-child(5) {
  border-bottom: none;
}
.grid__item:nth-child(6) {
  border-bottom: none;
}
.grid__item:nth-child(7) {
  border-bottom: none;
}
.grid__item:nth-child(8) {
  border: none;
}

.grid__item img {
  width: 40%;
}